[Unit]
Description=Telegram bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/brand_shop_bot/
ExecStart=/root/brand_shop_bot/venv/bin/python3 main.py
Restart=on-failure
RestartSec=10s
User=root

[Install]
WantedBy=multi-user.target